<h1 class="text-2xl p-4">Bubble sort</h1>
<div class="border p-4">
  {{ array | json }}
</div>

<div
  class="p-4 flex gap-5 *:border *:cursor-pointer *:px-4 *py-2 *:transition-all"
>
  <button class="active:scale-90" (click)="generateArrayOfRandomNumbers()">
    Generate Array
  </button>
  <button class="active:scale-90" (click)="bubbleSort()">Bubble Sort</button>
</div>

<ul class="flex p-4">
  @for(value of array; track idx; let idx = $index) {
  <li
    class="bg-cyan-300 w-4 border"
    [style.height]="value + 'px'"
    [ngStyle]="{
      background: leftNumber === idx || rightNumber === idx ? 'red' : '#67e8f9',
    }"
  >
    <span class="rotate-90 block"> {{ value }}</span>
  </li>
  }
</ul>
